src/conf/xml-resources/web-service-references/Consultas/wsdl/localhost_8080/ServiciosSOAP/Consultas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://sw/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sw/">

<xs:element name="Dibujo" type="tns:Dibujo"/>

<xs:element name="DibujoResponse" type="tns:DibujoResponse"/>

<xs:element name="Diccionario" type="tns:Diccionario"/>

<xs:element name="DiccionarioResponse" type="tns:DiccionarioResponse"/>

<xs:element name="Nombre" type="tns:Nombre"/>

<xs:element name="NombreResponse" type="tns:NombreResponse"/>

<xs:complexType name="Diccionario">
<xs:sequence>
<xs:element name="Palabra" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DiccionarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Nombre">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Dibujo">
<xs:sequence>
<xs:element name="entrada" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DibujoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>