src/conf/xml-resources/web-service-references/Consultas/wsdl/localhost_8080/ServiciosSOAP/Consultas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="Consultas">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/ServiciosSOAP/Consultas?xsd=1"/>
</xsd:schema>
</types>
<message name="Nombre">
<part name="parameters" element="tns:Nombre"/>
</message>
<message name="NombreResponse">
<part name="parameters" element="tns:NombreResponse"/>
</message>
<message name="Diccionario">
<part name="parameters" element="tns:Diccionario"/>
</message>
<message name="DiccionarioResponse">
<part name="parameters" element="tns:DiccionarioResponse"/>
</message>
<message name="Dibujo">
<part name="parameters" element="tns:Dibujo"/>
</message>
<message name="DibujoResponse">
<part name="parameters" element="tns:DibujoResponse"/>
</message>
<portType name="Consultas">
<operation name="Nombre">
<input wsam:Action="http://sw/Consultas/NombreRequest" message="tns:Nombre"/>
<output wsam:Action="http://sw/Consultas/NombreResponse" message="tns:NombreResponse"/>
</operation>
<operation name="Diccionario">
<input wsam:Action="http://sw/Consultas/DiccionarioRequest" message="tns:Diccionario"/>
<output wsam:Action="http://sw/Consultas/DiccionarioResponse" message="tns:DiccionarioResponse"/>
</operation>
<operation name="Dibujo">
<input wsam:Action="http://sw/Consultas/DibujoRequest" message="tns:Dibujo"/>
<output wsam:Action="http://sw/Consultas/DibujoResponse" message="tns:DibujoResponse"/>
</operation>
</portType>
<binding name="ConsultasPortBinding" type="tns:Consultas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Nombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Diccionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Dibujo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Consultas">
<port name="ConsultasPort" binding="tns:ConsultasPortBinding">
<soap:address location="http://localhost:8080/ServiciosSOAP/Consultas"/>
</port>
</service>
</definitions>